.box {
    width: 70px;
    border-radius: 100%;
    margin: 20% 45%;
  }
  .box {
    animation: wheelHueColor 4s infinite;
    background-color: currentColor;
  }
  @supports (background-blend-mode: overlay) {
    .box {
      background-blend-mode: overlay;
    }
  }
  @keyframes wheelHueColor {
    from, to { color: green; height: 80px; width: 80px; }
    5%      { color: green; height: 85px; width: 85px;}
    10%      { color: green; height: 90px; width: 90px;}
    15%      { color: green; height: 100px; width: 100px;}
    20%      { color: yellow; height: 110px; width: 110px;}
    25%      { color: yellow; height: 120px; width: 120px;}
    30%      { color: yellow; height: 125px; width: 125px;}
    35%      { color: orange; height: 130px; width: 130px; border-radius: 10px;}
    40%      { color: orange; height: 140px; width: 140px; border-radius: 7px;}
    45%      { color: rgba(255, 0, 0, 0.664); height: 150px; width: 150px; border-radius: 5px;}
    50%      { color: red; height: 160px; width: 160px; border-radius: 0px;}
    53%      { color: red; height: 165px; width: 165px; border-radius: 0px;}
    55%      { color: rgba(255, 0, 0, 0.664); height: 150px; width: 150px; border-radius: 5px;}
    60%      { color: orange; height: 140px; width: 140px; border-radius: 7px;}
    65%      { color: orange; height: 130px; width: 130px; border-radius: 10px;}
    70%      { color: yellow; height: 125px; width: 125px;}
    75%      { color: yellow; height: 120px; width: 120px;}
    80%      { color: yellow; height: 110px; width: 110px;}
    85%      { color: green; height: 100px; width: 100px;}
    90%      { color: green; height: 90px; width: 90px;}
    95%      { color: green; height: 85px; width: 85px;}
    100%     { color: green; height: 80px; width: 80px; }
  }
  